blockquote, q, .description, .note {
  h1, h2, h3, h4, h5, h6 {
    column-span: initial;
    font-family: "Scala Sans SC";
    font-size: .423cm;
    font-variant: normal;
  }

  p {
    font-family: "Scala Sans";
  }
}

blockquote, q, .description {
  background-color: #faf7ea;
  border-style: solid;
  border-image: url("images/description-border.png") 12 round;
  border-image-outset: 4px;
  border-width: 7px;
  margin-top: 0.5rem;
}

.note {
  background-color: #e0e5c1;
  border-image: url("images/note-border.png") 11;
  border-image-outset: 9px 0;
  border-style: solid;
  border-width: 11px;
  margin-top: 1rem;
  padding: 0 10px;
}

.stats {
  background-color: #e0e5c1;
  border-image: url("images/stats-border.png") 11;
  border-style: solid;
  border-width: 11px;
  box-shadow: 1px 4px 14px #888;
  font-family: "ScalySans";
  font-size: 0.75rem;
  margin-bottom: 1em;
  padding: 5px 10px;

  h3 {
    border-bottom: 1px solid #58180D;
    font-family: "ScalySans";
    font-size: .45cm;
    font-weight: 400;
    padding-bottom: 0.1rem;
  }

  ul, ol, p {
    font-size: 0.75rem;
  }

  > ul.no-bullet {
    padding-left: 0;
  }
}

.abilities {
  &, table {
    width: 100%;
  }
  th, td {
    text-align: center;
  }
  tr:nth-child(odd) {
    background-color: transparent;
  }
}