.page {
  background-color: #eee5ce;

  margin-left:auto;
  margin-right:auto;

  overflow: hidden;

  padding-left: 1cm;
  padding-right: 1cm;

  &.two-col {
    column-count: 2;
    column-gap: 1cm;
    column-fill: auto;
    column-width: 8cm;

    page-break-before: always;
    page-break-after: always;  
  }
}

.col-break {
  display: block;
  -webkit-column-break-after: always;
}