.page {
  background-color: #eee5ce;

  margin-left:auto;
  margin-right:auto;

  overflow: hidden;

  padding-left: 1cm;
  padding-right: 1cm;

  &.two-col {
    column-count: 2;
    column-gap: 1cm;
    column-fill: auto;
    column-width: 8cm;

    padding-bottom: 1.7cm;

    page-break-before: always;
    page-break-after: always;  
  }
}

.col-break {
  display: block;
  -webkit-column-break-after: always;
}

hr {
  background-image: url("images/hr.png");
  background-size: 100% 100%;
  border: none;
  height: 6px;
  margin: 4px 0;
}