ul, ol {
  font-size: .352cm;
  line-height: 1.3em;
  list-style-position: outside;
  margin-bottom: 0.8em;
  padding-left: 1.4em;
}

ul {
  list-style-type: disc;
  padding-bottom: .4em;
  padding-top: .4em;
}

ol {
  list-style-type: decimal;
}

ul.no-bullet {
  list-style-type: none;
}