ul, ol {
  font-size: .352cm;
  line-height: 1.3em;
  list-style-position: outside;
  padding: .4em 0 .4em 1.4em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul.no-bullet {
  list-style-type: none;
}