.a2 { width: 420mm; height: 594mm; }
.a3 { width: 297mm; height: 420mm; }
.a4 { width: 210mm; height: 297mm; }
.a5 { width: 148mm; height: 210mm; }
.a6 { width: 105mm; height: 148mm; }

.b3 { width: 364mm; height: 515mm; }
.b4 { width: 257mm; height: 364mm; }
.b5 { width: 182mm; height: 257mm; }

.letter { width: 8.5in; height: 11in; }
.legal { width: 8.5in; height: 14in; }