table {
  font-family: "Scala Sans";
  font-size: 10pt;
  margin: 0.5rem 0;

  thead {
    font-weight: 800;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: #e0e5c1;
    }
  }

  th, td {
    padding: .3rem 1rem;
  }
}

.two-col table {
  width: 100%;
}